html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Arvo', serif;
    background-color: rgba(245, 245, 245, 0.34);

}

.btn-primary {
    background-color: #94242f;
    background-image: none;
    border: 0;
    border-radius: 0;
    padding: 10px 42px;
    text-transform: uppercase;
    font-weight: 400;
}

.fluid-button{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #E63A4A;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;

}
.fluid-button:hover{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.35s box-shadow;

}
.fluid-button i {
    font-size: 20px;
    color: white;
}