.navbar-default {
    background-image: none;
    background-color: #e63a4a;
    border: 0;
    border-radius: 0;
    min-height:100px;
}
.navbar-default .container-fluid {
    padding-top: 23px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li {
    display: inline-flex;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-image: none;
    background-color: #E63A4A;
    color: white;
}

.navbar-brand img {
    margin-top: -20px;
    width: 250px;
}
.navbar-right {
    font-size: 20px;
}

.navbar-right form {
    padding-right: 100px;
}

.navbar-nav>li>.dropdown-menu{
    left: -40px;
}

.navbar-nav .form-control{
    background-color: #F34152;
    border-radius: 0;
    border: 0;
    height: 40px;
    border-bottom: 1px solid white;
    width: 400px !important;
    color: white;
}
.navbar-nav #foto-profilo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid;
}
.fa-search{
    color: white;
    margin-left: -40px;
    color: white;
}

.form-control::-webkit-input-placeholder {
    color: white;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: white;
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}
.form-control:-ms-input-placeholder {
    color: white;
}